<html>
<head>
  <style>
  .pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;

  </style>
  <script src="{{asset "js/instantclick.js"}}"></script>
  {{! Document Settings }}
  <meta charset="utf-8" />
  <title>{{meta_title}}</title>
  <meta name="description" content="{{meta_description}}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ghost_head}}
</head>
<body>

<div id="cover" style="background-image: url({{@blog.cover}});">
  <a href="{{@blog.url}}"><img id="logo" src="{{@blog.logo}}" height="100%"></a>
</div>

  {{! Navigation Start}}
    <nav id="navigation" class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{@blog.url}}">{{@blog.title}}</a>
      </div>
    {{navigation}}
  {{! Navigation End}}
  
  {{! Main Contents Start}}
    <div id="container" class="container">
      {{{body}}}
    </div>
  {{! Main Contents End}}

  {{! Scripts Start }}
    {{ghost_foot}}
    <script src="{{asset "js/sticky.js"}}"></script>
    <script src="{{asset "js/bootstrap.js"}}"></script>
    <script>
      //This script opens all external links in new windows/tabs
      $("a[href^='http://'], a[href^='https://']").click(function(){
        $(this).attr("target","_blank");
      });
      $("a[href^='{{@blog.url}}']").click(function(){
        $(this).attr("target","_self");
      });
      $('#search').submit(function() {
        var txt = $('#searchbox');
        txt.val(txt.val() + " site:{{@blog.url}}");
      });
    </script>
  {{! Scripts End}}

  {{! Styles Start}}
    <link href="{{asset "css/styles.css"}}" rel="stylesheet" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{asset "css/bootstrap.css"}}">
  {{! Styles End}}
  
</body>
</html>